<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    <!--
    <p>{{beemp._id}}</p>
    <p>{{beemp.timestamp}}</p>
    <p>{{beemp.ownerid}}</p>
    <p>{{beemp.owner}}</p>
    <p>{{beemp.message}}</p>
    <p>{{beemp.tags}}</p>
    {{#each beemp.replies}}
    <p>{{_id}}</p>
    <p>{{timestamp}}</p>
    <p>{{ownerid}}</p>
    <p>{{owner}}</p>
    <p>{{message}}</p>
    <p>{{tags}}</p>
    {{/each}}
    -->

    {{> beempPartial}}

  </body>
</html>
